body {
    height: 100%; 
    min-height: 100hv;
    background-image: url("../sources/FONDO\ 3\ NUBES\ CON\ RUIDOO.jpg");
    font-family:'Franklin Gothic Medium';
    padding: 0;
    position: relative;
  
}
.header {
    background-image: url("../sources/FONDO\ 1\ \ DEGRADADO\ GAUSSIANO\ PARA\ MOOC\ SOULMIA\ EN\ JPG.jpg");
    /* padding: 10px; */
    text-align: center;
    font-family:'Franklin Gothic Medium';
    
}
.logo{
    width: 100px;
    height:100px ;
    box-shadow: 0px 8px 16px 0px #b30af7;
}
h1{
    color: white;
    text-shadow: 2px 2px black;
    font-family:'Franklin Gothic Medium';
    
}
.sectionRight{
    display: flex;
    justify-content: right;
    margin-right: 190px;
    margin-top: 10px;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium';
}
.burgerMenu{
    color: white;
    width: 200px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium';
}
.searchBar {
    margin: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    border-radius: 30%;
}

.searchBar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15%;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium';
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;    
    font-family:'Franklin Gothic Medium';
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 1, 170, 0.2);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px #b30af7;
    font-family:'Franklin Gothic Medium';
}
.dropdownContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.dropdownContent a:hover {
    background-color:#b30af7;
}
.dropdown:hover .dropdownContent {
    display: block;
}
/* menú desplegable del perfil */
.profileMenu{
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    z-index: 1;
    padding: 1%;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a:hover {background-color: #b30af7;}
.profileMenu:hover .profileMenuContent {
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileIcon {
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium';
    
}
/* FOOTER*/
.footer {
    position:unset ; /*este es el que siempre tendra mi footer abajo*/
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 49,182 );
    color: white;
    text-align: center;
    align-items: center;
    margin: 0%;
    font-family:'Franklin Gothic Medium';
    

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 3px solid #000000; */
  }
  /*style para links*/
  .footer >div:first-child {
    color: #ffffff; 
    font-family:'Franklin Gothic Medium';
  }
  .footerLink{
    margin-left: 60px;
    margin-right: 60px;
    color: white;
    font-family:'Franklin Gothic Medium';

  }

  /* Estilo para los íconos y el texto en el 2 div */
.footer > div:nth-child(2) {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    font-family:'Franklin Gothic Medium';
    
}
#brands{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
/* estilo para INFOFOOTER*/
.infoFooter{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family:'Franklin Gothic Medium';
    
    
}
/* #endFooter{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  } */

 /*  h2{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    background-color: #b30af7;
    width: 200px;} */
  
  .biblioteca{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    background-color: #5B043E;
    width: 180px;
    border-style:solid;
    border-color: #000000;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 8px 16px 0px #b30af7;
    margin: auto;
  }
  .pdfs{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    background-color: #5B043E;
    width: 90px;
    border-style:solid;
    border-color: #000000;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    color: white;
  /*   margin: auto; */
  }
  .podcast{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    background-color: #5B043E;
    width: 150px;
    border-style:solid;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0px 8px 16px 0px #b30af7;
    color: white;
    /* margin: auto; */
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-rows: repeat(7, auto); /* Siete filas de altura automática */
    gap: 10px; /* Espacio entre celdas */
    padding: 20px; /* Espacio interno opcional */
}

/* Estilo para las columnas */
.column {
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.row {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro de la fila */
    justify-content: space-between; /* Espacio entre la imagen, el texto y los iconos */
    /* border: 1px solid #ccc; /* Opcional: Agrega un borde para ver las celdas */
    padding: 10px; 
}

.row img {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: 60px; /* Ajusta el tamaño de la imagen */
}

.icons {
    display: flex;
    gap: 5px; /* Espacio entre los iconos */
    box-shadow: 0px 8px 16px 0px #b30af7;
}

.icons i {
    font-size: 20px; /* Ajusta el tamaño del icono */
}
.pdfTitle{
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    text-align: center;
    background-color: #5B043E;
    width: 180px;
    border-style:solid;
    border-color: #ffffff;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 8px 16px 0px #b30af7;
    margin: auto;
}
.imgsColumns{
    box-shadow: 0px 8px 16px 0px #b30af7;
}
p{
    text-decoration: underline;
    color: white;
    font-size:medium;
}