body {
    height: 100%; 
    min-height: 100hv;
    background-image: url("../sources/FONDO\ 3\ NUBES\ CON\ RUIDOO.jpg");
    font-family:'Franklin Gothic Medium';
    padding: 0;
    position: relative;
  
}
.logo{
    width: 100px;
    height:100px ;
    box-shadow: 0px 8px 16px 0px #b30af7;
}
.bannerr{
    align-items: center;
    justify-content: center;
    max-width: 80%;
    text-align: center;
}
.greeting {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.greeting span {
    font-size: 16px;
    font-weight: bold;
}

.nav {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-size:large;
    font-family: 'Franklin Gothic Medium';
}
.nav a {
    color: #fff;
    padding: 14px 20px;
    margin-left: 1%;
    display: flex;
    font-family:'Franklin Gothic Medium';
}
.nav a:hover {
    background-color: #b30af7;
}
.searchBar {
    margin: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    border-radius: 30%;
}

.searchBar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15%;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium';
}
.navBar{
    text-decoration-line: underline;
    text-decoration-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
  
}
.sectionRight{
    display: flex;
    font-family:'Franklin Gothic Medium';
    font-size: 25px ;
    gap: 25px ;
}
/* menú desplegable del perfil */
.profileMenu{
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';

}
.profileMenuContent {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    z-index: 1;
    padding: 1%;
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a:hover {background-color: #b30af7;}
.profileMenu:hover .profileMenuContent {
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileIcon {
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium';
    margin: auto;
}
.nuestros{
    color: white;
    text-shadow:  3px 3px 3px #000000;
    text-align: center;
}



h1{
    text-shadow:  3px 3px 3px #ffffff;
 
}
.loginForm{
    background-color: #5B043E;
    width: 50%;
    padding: 100px;
    margin: auto;
    box-shadow: 0px 8px 16px 0px #b30af7;
    
}
.checkBox{
margin: auto;
padding:15px ;
display: flex;
flex-direction: column;
background-color: white;
  
}

.correo{
    width: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin: auto;
}
.contraseña{
    width: 500px;
    padding: 15px;
    display: flex;    
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    border: 3px solid black;
}
.checkbox{
    background-color: white;
    width: 20%;
    border: 3px solid black;
    margin-left: 65px;
    margin-top: 2%;
}
.inputss{
   margin: auto;
   justify-items: center;
   
}
.btn{
    display: flex;
    text-align: left;
    margin: auto;
    margin-right: 70px;
    padding: 10px;
}
#olvide{
    margin: auto;
    margin-left: 65px;
}
.inicioo{
    margin: auto;
    margin-left: 67px;
    margin-bottom: 10px;
    text-shadow:  3px 3px 3px #000000;
    color: white;
}
.bienvenidoo{
    text-shadow:  3px 3px 3px #000000;
    color: white;
    font-size: 50px;

}


.aliados{
    width: 1330px;
    height: 100px;
    margin-bottom: 40px;
    border: 3px solid black;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.imagen{
    width: 80px;
    margin: 40px;
    }
/* FOOTER*/
.footer {
    /* position:unset ; este es el que siempre tendra mi footer abajo */
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-family:'roboto';
    margin-top: 15px;
    color: white;
  }

  /*style para links*/
  .linksFooter {
    color: #ffffff; 
    font-family:'Franklin Gothic Medium';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
  
  }

  .linksFooter a:hover {
    color: rgb(235, 18, 162);}
    a:active{
    color: rgb(72, 255, 0);
    };
    
    a:link{
    color: white;
    }
  .footerLink{
   text-align: center;
    color: white;
    font-family:'roboto';
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
  }

  /* Estilo para los íconos y el texto en el 2 div */
.iconsBrands {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    margin: 0 20px;
}
#brands{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

  }
/* estilo para INFOFOOTER*/
.infoFooter{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family:'Franklin Gothic Medium';
}