body {
    height: 100%; 
    min-height: 100hv;
    background-image: url("../sources/FONDO\ 3\ NUBES\ CON\ RUIDOO.jpg");
    font-family:'Franklin Gothic Medium';
    padding: 0;
    position: relative;
  
}
.header {
    background-image: url("../sources/FONDO\ 1\ \ DEGRADADO\ GAUSSIANO\ PARA\ MOOC\ SOULMIA\ EN\ JPG.jpg");
    padding: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    
}
.bannerr{
    align-items: center;
    justify-content: center;
    max-width: 100%;

}
h1{
    color: white;
    text-shadow: 2px 2px black;
    font-family:'Franklin Gothic Medium';
    
}
.logo{
    width: 100px;
    height:100px ;
    box-shadow: 0px 8px 16px 0px #b30af7;
}

.nav {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-size:large;
    font-family: 'Franklin Gothic Medium';
}
.nav a {
    color: #fff;
    padding: 14px 20px;
    margin-left: 1%;
    display: flex;
    font-family:'Franklin Gothic Medium';
}
.nav a:hover {
    background-color: #b30af7;
}
.searchBar {
    margin: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    border-radius: 30%;
}

.searchBar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15%;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium';
}
.navBar{
    text-decoration-line: underline;
    text-decoration-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
  
}
.sectionRight{
    display: flex;
    font-family:'Franklin Gothic Medium';
    font-size: 25px ;
    gap: 25px ;
}
.burgerMenu{
    color: white;
    cursor: pointer;
    width: 200px;
    font-family:'Franklin Gothic Medium';
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';
    margin: auto;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px #b30af7;
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
.dropdownContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.dropdownContent a:hover {
    background-color:#b30af7;
}
.dropdown:hover .dropdownContent {
    display: block;
}
/* menú desplegable del perfil */
.profileMenu{
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';

}
.profileMenuContent {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    z-index: 1;
    padding: 1%;
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a:hover {background-color: #b30af7;}
.profileMenu:hover .profileMenuContent {
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileIcon {
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium';
    margin: auto;
}
.nuestros{
    color: white;
    text-shadow:  3px 3px 3px #000000;
    text-align: center;
}


.aliados{
    width: 1330px;
    height: 100px;
    margin-bottom: 40px;
    border: 3px solid black;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.imagen{
    width: 80px;
    margin: 40px;
    }
.titulo{
        text-align: center;
        font-size: 60px;
}
.containerModulos{

    width: 1000px;
    height: 400px;
    justify-content: center;
    gap: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
   
}
.contMod{
    display: flex;
    gap: 110px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.contMod2{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    justify-content: center; 
    margin-top: 50px;
}

.m1{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(232, 244, 7);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #e9fd0b;
}
.m2{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(10, 183, 226);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #02afb8;
}
.m3{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(234, 0, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #e372b9;
}
.m4{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(4, 255, 16);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #0af71a;
}
.m5{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(248, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #ff1d15;
}
.m6{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 115, 7);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #e29a41;
}
.m7{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(185, 9, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #b30af7;
}
.m8{
    padding: 30px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(52, 0, 240);
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 16px 0px #2f44fc;
}
/* FOOTER*/
.footer {
    /* position:unset ; este es el que siempre tendra mi footer abajo */
    width: 100%;
    background-color: rgb(128, 49,182 );
    color: white;
    text-align: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    
  }

  /*style para links*/
  .linksFooter {
    color: #ffffff; 
    font-family:'Franklin Gothic Medium';
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: space-around;
  }
  .footerLink{
   text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium';

  }

  /* Estilo para los íconos y el texto en el 2 div */
.iconsBrands {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    margin: 0 20px;
    
}
#brands{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

  }
/* estilo para INFOFOOTER*/
.infoFooter{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family:'Franklin Gothic Medium';
}