body {
    height: 100%; 
    min-height: 100hv;
    background-image: url("../sources/FONDO\ 3\ NUBES\ CON\ RUIDOO.jpg");
    font-family:'Franklin Gothic Medium';
    padding: 0;
    position: relative;
  
}
.header {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    box-shadow: 0px 8px 16px 0px #b30af7;
    
}
h1{
    color: rgb(11, 223, 238);
    background-color: black;
    text-shadow: 2px 2px black;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    width: 50%;
    margin: auto;
    
}
.logo{
    width: 100px;
    height:100px ;
    box-shadow: 0px 8px 16px 0px #b30af7;
}

.nav {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    font-size:large;
    font-family: 'Franklin Gothic Medium';
}
.nav a {
    color: #fff;
    padding: 14px 20px;
    margin-left: 1%;
    display: flex;
    font-family:'Franklin Gothic Medium';
}
.nav a:hover {
    background-color: #b30af7;
}
.searchBar {
    margin: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
    border-radius: 30%;
}

.searchBar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15%;
    border-color: #000000;
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium';
}
.navBar{
    text-decoration-line: underline;
    text-decoration-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
  
}
.sectionRight{
    display: flex;
    font-family:'Franklin Gothic Medium';
    font-size: 25px ;
    gap: 25px ;
}
.burgerMenu{
    color: white;
    cursor: pointer;
    width: 200px;
    font-family:'Franklin Gothic Medium';
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';
    margin: auto;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px #b30af7;
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
.dropdownContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.dropdownContent a:hover {
    background-color:#b30af7;
}
.dropdown:hover .dropdownContent {
    display: block;
}
/* menú desplegable del perfil */
.profileMenu{
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';

}
.profileMenuContent {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    z-index: 1;
    padding: 1%;
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a:hover {background-color: #b30af7;}
.profileMenu:hover .profileMenuContent {
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileIcon {
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium';
    margin: auto;
}
.nuestros{
    color: white;
    text-shadow:  3px 3px 3px #000000;
    text-align: center;
}

.videoorigen{
    justify-content: center;
    margin: auto;
    width: 900px;
    height: 500px;
    border-radius: 1%;
     box-shadow: 0px 8px 16px 0px #0aebf7;
     margin-bottom: 5%;
     margin-top: 3%;
     border: 7px solid #000000; 
    }
    .videoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }
    h3{
        color: white;
    }




/* div de examen */
.containerExam{
    border: 3px solid black;
    width: 800px;
    padding: 20px;
    background-image: url(../sources/FONDO\ 2\ LIQUIDO\ LICUADO.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px #b30af7;
    margin: auto;
    margin-bottom: 8%;
}
.question {
    margin-bottom: 20px;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option {
    display: flex;
    align-items: center;
    gap: 10px;
}
label {
    font-size: 16px;
}
.submit-button {
    display:block;
    text-align: center;
    width: 20%;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #600035;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: fantasy;
    align-self: flex-end; 
    
}
.submit-button:hover {
    background-color: #c70dff;
}
.parrafoExam{
    text-align: center;
}










/* FOOTER*/
.footer {
    /* position:unset ; este es el que siempre tendra mi footer abajo */
    width: 100%;
    background-color: rgb(128, 49,182 );
    color: white;
    text-align: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    
  }

  /*style para links*/
  .linksFooter {
    color: #ffffff; 
    font-family:'Franklin Gothic Medium';
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    justify-content: space-around;
  }
  .footerLink{
   text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium';

  }

  /* Estilo para los íconos y el texto en el 2 div */
.iconsBrands {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium';
    margin: 0 20px;
    
}
#brands{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;

  }
/* estilo para INFOFOOTER*/
.infoFooter{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family:'Franklin Gothic Medium';
}