body {
    height: 100%; 
    min-height: 100hv;
    font-family:'Franklin Gothic Medium';
    padding: 0;
    position: relative;
  
}
.header {
    background-image: url("../sources/FONDO\ 1\ \ DEGRADADO\ GAUSSIANO\ PARA\ MOOC\ SOULMIA\ EN\ JPG.jpg");
    padding: 10px;
    text-align: center;
}

.greeting {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.greeting span {
    font-size: 16px;
    font-weight: bold;
}
.sectionRight{
    display: flex;
    font-family:'Franklin Gothic Medium';
    font-size: 25px ;
    gap: 7px ;
}
.container-fluid{
    max-width: 1450px;
}

.bannerr{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border: 2px8#000000;
}
.navbar-nav{
    text-shadow:#b30af7;
}
.navbar-nav a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    text-shadow: #b30af7;
}
.navbar-nav a:hover{
    background-color:black;
    color: black;
    box-shadow: 0px 8px 16px 0px #660144;
}
.navbar-brand{
    box-shadow:0px 10px 18px 0px #660144 ;

}


/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    .navbar-nav .nav-item{
        flex-direction: column;
        margin-top: 10px;
        margin: 80px;
        box-shadow: 0px 8px 16px 0px #b30af7;
    }
    .profileMenuContent {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #660144;
        z-index: 1;
        padding: 1%;
        font-family:'Franklin Gothic Medium';
        border-radius: 4px;
    }
    
    .profileMenu {
        display: none; /* Oculta el menú de perfil en móviles */
    }
    
    .navbar-toggler {
        display: block; /* Muestra el botón de menú en móviles */
        background-color: floralwhite;
    }
    -navbar-toggler-icon {
        background-color:white;
    }

    .navbar-collapse {
        background-color: #f70ac4;
    
    .profileIcon {
        display: block;
        margin-left: auto;
    }
}
.logo{
    width: 100px;
    height:180px ;
    box-shadow: 0px 8px 16px 0px #ffffff;
}

}
/* menú desplegable del perfil */
.profileMenu{
    position: relative;
    display: inline-block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #660144;
    z-index: 1;
    padding: 1%;
    font-family:'Franklin Gothic Medium';
    border-radius: 4px;
}
.profileMenuContent a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileMenuContent a:hover {background-color: #b30af7; text-shadow:#660144;}

.profileMenu:hover .profileMenuContent {
    display: block;
    font-family:'Franklin Gothic Medium';
}
.profileIcon {
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium';
    
}
/* imagen Promocion */
.imgPromotion{
    width:100%;
    max-width: 1000px;
    height: auto;
    overflow: hidden;
    display: grid;
    padding:0%;
    margin: auto;
    box-sizing: border-box; /*Incluye padding y border en el ancho total*/
    border: 3px solid black;
    
    justify-content: center;
    align-items: center;
    /* position: absolute; */

.imgProm{
    height:auto;
    width: 100%;
} 
}
/* div nuestros aliados*/
.nuestros{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium';
    font-size:large;
    margin: 0;
    font-family:'Franklin Gothic Medium';
}
.aliados{
    width: 1330px;
    height: 100px;
    margin-bottom: 40px;
    border: 1px solid black;
    background-image: url(../sources/FONDO\ 3\ NUBES\ CON\ RUIDOO.jpg) ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.imagen{
width: 80px;
margin: 40px;
}
/* FOOTER*/
.footer {
    position:unset ; /*este es el que siempre tendra mi footer abajo*/
    bottom: 0;
    width: 100%;
    background-color: rgb(128, 49,182 );
    color: white;
    text-align: center;
    align-items: center;
    margin: 0%;
    font-family:'Franklin Gothic Medium';
    

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 3px solid #000000; */
  }
  /*style para links*/
  .footer >div:first-child {
    color: #ffffff; 
    font-family:'Franklin Gothic Medium';
  }
  .footerLink{
    margin-left: 60px;
    margin-right: 60px;
    color: white;
    font-family:'Franklin Gothic Medium';

  }

  /* Estilo para los íconos y el texto en el 2 div */
.footer > div:nth-child(2) {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    font-family:'Franklin Gothic Medium';
    
}
#brands{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
/* estilo para INFOFOOTER*/
.infoFooter{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-family:'Franklin Gothic Medium';
    
    
}
/* #endFooter{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  } */
 